<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--Import Google Icon Font-->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
  <title>中共菁英資料庫--字卡平台</title>
</head>
<style media="screen">
  html {
    font-family: Microsoft JhengHei !important;
  }
</style>
<body>
  <div class="container" id="field">
    <h1>中共精英資料庫搜尋平台</h1>

    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="logic.img">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">使用說明<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">說明<i class="material-icons right">close</i></span>
        <h5>1. <span class="green-text">字卡</span>與<span class="green-text">字卡</span>之間為 <span class="red-text">AND</span> 之關係</h5>
        <h5>2. <span class="green-text">字詞</span>與<span class="green-text">字詞</span>之間為 <span class="red-text">OR</span> 之關係</h5>
        <h5>3. 有<span class="blue-text">包含</span>與<span class="blue-text">不包含</span>的選項</h5>
        <h5>4. 可以有若干張字卡與字詞</h5>
        <h5>5. 字卡與字詞皆可刪除</h5>
        <h5>6. 開始日期與結束日期<span class="red-text">可為空白</span></h5>

      </div>
    </div>
    <br>

    <div v-for="(card, cindex) in cards">
      <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              <span class="card-title" style="display:inline">搜尋字卡<i class="material-icons" v-on:click="deleteCard(cindex)" style="float:right;">close</i></span>
              <div class="row">

                <div class="input-field col s6">
                  <label for="fromDate">開始日期</label>
                  <input v-model="card.fromDate" type="text" name="fromDate">
                </div>
                <div class="input-field col s6">
                  <label for="toDate">結束日期</label>
                  <input v-model="card.toDate" type="text" name="toDate">
                </div>
              </div>

              <div style="float:right;">
                <input v-model="card.mode" type="radio" value="include" />
                <label v-on:click="changeMode(cindex, 'include')">包含</label>

                <input v-model="card.mode" type="radio" value="not_include" />
                <label v-on:click="changeMode(cindex, 'not_include')">不包含</label>
              </div>
              <div class="row">
                <label>字詞</label>
                <input v-model="card.inputWord" v-on:keyup.enter="addWord(cindex)" placeholder="" type="text" class="validate">
                <div class="collection">
                  <!-- <div v-for="(word, windex) in words"> -->
                  <div v-for="(word, windex) in card.words" class="collection-item">{{word.content}}<i v-on:click="deleteWord(cindex, windex)" class="material-icons right">delete</i></div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
            <!-- end of card-content -->
          </div>
          <!-- end of card -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <button id="submit-button" class="btn waves-effect waves-light blue darken-4" style="float:right;" type="submit" name="action">送出
        <i class="material-icons right">send</i>
      </button>
    <button class="btn waves-effect waves-light" style="float:right;" v-on:click="addCard" type="button" name="action">新增
        <i class="material-icons right">add</i>
      </button>
    <br>
    <br>
  </div>
  <!-- end of container -->

</body>
<script src="index.js" type="text/javascript"></script>

</script>

</html>
